{% extends "layout.html" %}

{% block content %}
{% if scene %}
<img src="http://www.pngmart.com/files/3/Spaceship-PNG-File.png" width="100" height="100">
>
  <h1> {{ scene.title }} </h1>
  <p>{{ scene.description }}</p>
  {% if scene.urlname == "death" %}
    <p><a href="/">Play Again?</a></p>
  {% else %}
    <p>
      <form action="/game" method="POST">
       <p> What do you do?</p>
       <input type="text" name="userinput"> <input type="SUBMIT">
      </form>
    </p>
  {% endif %}
{% else %}
  <p><a href="/">Start at the Beginning</a></p>
{% endif %}
{% endblock %}